.loading_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.92);
    opacity: 0;
    z-index:10;
    &.active{
        opacity: 1;
        display: block;
        animation: show 0.5s cubic-bezier(0.21, 0.59, 0.5, 0.82) normal;
    }
    ._loading {
        position: absolute;
        width: 600px;
        height: 36px;
        left: 50%;
        top: 40%;
        margin-left: -300px;
        overflow: visible;
        user-select: none;
        cursor: default;
        div {
            position:absolute;
            width:20px;
            height:36px;
            opacity:0;
            font-family: Helvetica,Arial,sans-serif;
            animation: move 2s linear infinite;
            transform: rotate(180deg);
            color: #35C4F0;
            &:nth-child(2) {
                animation-delay: 0.2s;
            }
            &:nth-child(3) {
                animation-delay: 0.4s;
            }
            &:nth-child(4) {
                animation-delay: 0.6s;
            } 
            &:nth-child(5) {
                animation-delay: 0.8s;
            } 
            &:nth-child(6) {
                animation-delay: 1s;
            } 
            &:nth-child(7) {
                animation-delay: 1.2s;
            }
        }
    }
}
@keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }
    35% {
        left: 41% ;
        transform: rotate(0deg);
        opacity: 1;
    }
    65% {
        left: 59% ;
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        left: 100% ;
        transform: rotate( - 180deg);
        opacity: 0;
    }
}
@keyframes show {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}